Package: com.x1aomai.tengxiang9527
Name: TengXiangFont 95.27% IOS12
Version: 1.0.0
Depends: firmware (>= 12.0), mobilesubstrate
Architecture: iphoneos-arm
Author: x1aomai <java.yang.bo@outlook.com>
Depiction: http://x1aomai.github.io/
Conflicts: com.x1aomai.tengxiang9527
Section: Font
Description: TengXiangFont 95.27% IOS12
Homepage: http://x1aomai.github.io/
Maintainer: x1aomai <java.yang.bo@outlook.com>
